* {
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #ad2524;
  --seconday-color: gray;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#root {
  font-family: "Poppins", sans-serif !important;
 
}
.ant-layout {
  min-height: 100vh;
}
.ant-layout-sider {
  background-color: white !important;
}
.ant-menu {
  background-color: white !important;
}
.ant-menu-item {
  color: #515050 !important;
  margin: 18px 5px !important;
  font-size: 15px;
  font-weight: 700;
  padding: 4px 25px !important;
}

.ant-menu-item-selected {
  background-color: var(--main-color) !important;
  color: white !important;
}

.demo-logo-vertical {
  min-width: 50%;
  height: 83px;
  text-align: center;
}

.sm-logo {
  display: none !important;
}
.lg-logo {
  width: 50%;
}

.ant-layout-sider-collapsed .sm-logo {
  display: block !important;
}
.ant-layout-sider-collapsed .lg-logo {
  display: none !important;
}
.ant-layout-content {
  background: none !important;
  margin: 22px 0px !important;
  padding: 3px !important;
}

.button_register {
  padding: 10px 25px;
  border: 1px solid black;
  outline: none;
  border: none;
  background-color: var(--main-color);
  color: white;
  border-radius: 15px;
}

.password-icons {
  position: relative;
}
.password-icons--eye {
  position: absolute;
  top: 36px;
  right: 12px;
}
.text__color {
  color: var(--main-color);
}
.font__size {
  font-size: 25px !important;
}

.color-token {
  color: var(--seconday-color);
  text-decoration: underline;
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
button{
  background: none;
}
